<%- include("../../partials/header.ejs") %> 
<%- include("../../partials/navbar.ejs") %> 
<body>
    <div class="container">
        <hr>
        <h2>Artigos</h2>
        <a href="/admin/articles/new" class="btn btn-success">Criar novo artigo</a>
        <hr>
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Slug</th>
                    <th>Categoria</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach((article)=>{ %>
                    <th><%= article.id %></th>
                    <th><%= article.title %></th>
                    <th><%= article.slug %></th>
                    <th><%= article.category.title %></th>
                    <th>
                        <form id="subform" method="post" action="/articles/delete" style="display:inline;" >
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <button name="del" class="btn btn-danger">Deletar</button>
                        </form>
                    </th>
                <% }) %> 
            </tbody>
        </table>
    </div>
</body>
<%- include("../../partials/footer.ejs") %>
<script>
    let element = document.querySelectorAll("#subform");
    element.forEach((item,index)=>{
        element[index].addEventListener('submit',(e) => {
            e.preventDefault();
            let resp = confirm('Deseja excluir?');
            if(resp){
                e.target.submit();
            }

        })        
    });  
</script> 